<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="com.miptv.app"
        version="0.1.0">

  <name>MiPTV</name>
  <icon src="icon.png" />
  <content src="index.html" />

  <tizen:application id="com.miptv.app"
                     package="MiPTVapp"
                     required_version="6.5" />

  <tizen:privilege name="http://tizen.org/privilege/internet" />

  <!-- Allow HLS stream sources -->
  <access origin="*" subdomains="true" />

  <tizen:profile name="tv" />

  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 scroll-support="disable"
                 user-agent="" />
</widget>
